
@font-face { font-family: jetbrains;
    src: url("../Jetbrains-ttf/JetBrainsMono-Regular.ttf") format('truetype');
}

.jetbrains {
    font-family: "jetbrains" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  